
body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  background-color: #ffffff;
}
button.btn, input[type="submit"].btn{
    
}

hr {
  margin: 18px 0;
  border: 1px solid #b1b3b3;
}

.btn-large {
  padding: 9px 14px;
  font-size: 15px;
  line-height: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 18px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #c09853;
  margin-top: 18px;
  width: 55.5%;
  text-align: center;
}
.alert-danger,
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}

.btn-primary,
.btn-primary:hover{
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.btn-primary {
  background-color: #0074cc;
  background-image: -moz-linear-gradient(top, #0088cc, #0055cc);
  background-image: -ms-linear-gradient(top, #0088cc, #0055cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0055cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0055cc);
  background-image: -o-linear-gradient(top, #0088cc, #0055cc);
  background-image: linear-gradient(top, #0088cc, #0055cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0055cc', GradientType=0);
  border-color: #0055cc #0055cc #003580;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0055cc;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

label{
    font-size: 14px;
}

input{
    width: 60%;
    line-height: 1.5;
    font-size: 16px
}

legend + .control-group {
  margin-top: 18px;
}

.control-group {
  margin-bottom: 9px;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 27px;
  font-size: 19.5px;
  line-height: 36px;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

.footer{
    text-align: center;
}

.content{
    width:100%;
    height:100%;
    background-color: #dde9ed;
}

.content .lineseparator {
    margin: 0px;
    border-top: 0px;
    border-bottom: 0px;
    border: 1px solid  #c3d3d9;
}

.content .lineseparator2 {
    margin: 0px ;
    border-top: 0px;
    border-bottom: 0px;
    border: 1px solid  #b1b3b3;
}

.banner{
    width:100%;
    background-color: #005aa9;	
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

.banner img {
    display: block;   
    margin-left: auto;   
    margin-right: auto;
    height: 25px;
}

.userContent{
    width:100%;
    background-color: #cfe0e5;	
    padding-top: 3px;
    padding-bottom: 3px;	
    padding-left:10px;
    font-weight: bold;
    color:#3b3e3c;
}

.cardInfo{
    list-style: none;
    margin: 0px;
    padding: 0px;
    border-bottom: 0px;
}

.movementContainer{
    width:100%;
    background-color: #337bba;	
    padding-top: 3px;
    padding-bottom: 3px;	
    padding-left:10px;
    color: #c1d7e9;
}

.typeContainer{
    width:100%;
    background-color: #f5f7f8;	
    padding-top: 3px;
    padding-bottom: 3px;	
    padding-left:10px;	
    font-weight: bold;
    color:#3b3e3c;
}


.cardContainer{
    width:100%;
    background-color: #efefef;	
    margin: 0px;
    padding: 0px;	
}

.cardList
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    border-bottom: 1px solid #b1b3b3;
}

.cardName{
    font-weight: bold;
    color:#454746;
}

.cardMask{
    color:#3b3e3c;
}

li
{
    background-repeat: no-repeat;
    background-position: 5px 50%;
    padding: 10px 5px 5px 45px;
}

li a {
    color:#3b3e3c;
    text-decoration: none;

}

li:hover, li:hover a , li:hover .cardName ,li:hover .cardMask, li:hover .ABONO, li:hover .CARGO{
    background-color: #86a5aa;
    color:#ffffff;
    text-decoration: none;
}

li .movement{
    color: #454746;
}

li.pre_pdf
{
    background-image: url(/assets/img/bullet_pdf.gif);
}


.formContainer{
    padding-left: 5px;
    padding-right: 5px;
}	

.ABONO{
    color:#28a061;
}

.CARGO{
    color: #3b3e3c;
}


li.pre_E_715,li.pre_F_715,li.pre_H_715,li.pre_I_715,li.pre_J_715{
    background-image: url(/assets/img/cardicons/715_E.png);
}

li.pre_Y_715,li.pre_G_715{
    background-image: url(/assets/img/cardicons/715_G.png);
}

li.pre_B_715{
    background-image: url(/assets/img/cardicons/715_B.png);
}

li.pre_C_715{
    background-image: url(/assets/img/cardicons/715_C.png);
}

li.pre_D_715,li.pre_P_715{
    background-image: url(/assets/img/cardicons/715_D.png);
}


li.pre_A_716,li.pre_C_716,li.pre_D_716,li.pre_P_716{
    background-image: url(/assets/img/cardicons/715_P.png);
}

li.pre_B_716{
    background-image: url(/assets/img/cardicons/716_B.png);
}

li.pre_I_716{
    background-image: url(/assets/img/cardicons/715_E.png);
}

li.pre_3_717,li.pre_4_717,li.pre_5_717,li.pre_7_717{
    background-image: url(/assets/img/cardicons/715_E.png);
}

li.pre_6_717,li.pre_8_717,li.pre_A_717,li.pre_C_717,li.pre_M_717,li.pre_P_717{
    background-image: url(/assets/img/cardicons/715_P.png);
}

li.pre_B_717,li.pre_R_717,li.pre_V_717{
    background-image: url(/assets/img/cardicons/716_B.png);
}

li.pre_L_717{
    background-image: url(/assets/img/cardicons/717_L.png);
}

li.pre_Y_717{
    background-image: url(/assets/img/cardicons/715_G.png);
}


li.pre_E_719{
    background-image: url(/assets/img/cardicons/719_E.png);
}

li.pre_F_719{
    background-image: url(/assets/img/cardicons/719_F.png);
}

li.pre_H_719{
    background-image: url(/assets/img/cardicons/719_H.png);
}

li.pre_B_719,li.pre_N_719,li.pre_L_719,li.pre_W_719,li.pre_X_719{
    background-image: url(/assets/img/cardicons/715_B.png);
}

li.pre_1_719,li.pre_A_719,li.pre_G_719,li.pre_M_719,li.pre_2_719,
li.pre_3_719,li.pre_4_719,li.pre_5_719,li.pre_6_719,li.pre_7_719,
li.pre_8_719,li.pre_C_719,li.pre_D_719,li.pre_I_719,li.pre_J_719,
li.pre_O_719,li.pre_P_719,li.pre_Q_719,li.pre_R_719,li.pre_S_719,
li.pre_T_719,li.pre_U_719,li.pre_V_719,li.pre_Y_719,li.pre_Z_719{
    background-image: url(/assets/img/cardicons/719_1.png);
}
