<html>
    <head>
        <title> Servi-Tebca M&oacute;vil </title>
<!--        <link rel="stylesheet" type="text/css" href="/assets/bootstrap/css/bootstrap.css">-->
        <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
        {%block extrastyle %} {% endblock%}
    </head>
    
    <body>
        <div class="content" >
            <div class="banner" > 
                <img src="/assets/img/logoTebca.png" alt="Logo"/>
            </div>
            {%block content %} {% endblock%}
            <footer>
                <div class="footer">
                <hr>
                    <p>
                    <b>NovoPayment, INC. &COPY; 2012. </b>
                    <br>Powered by Synergy Global Business<br>
                </p>
                </div>
            </footer>
        </div>
    </body>
</html>