<html>
	<head>
		<title> Title Text Goes Here </title>
		<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
	</head>
	<body>

		<div class="content" >
			<div class="banner" > 
				<img src="/assets/img/logoTebca.jpg" alt="Logo"/>
			</div>
			<div class="userContent"> 
				Soy {{name}}
			</div>
			<div class="cardContainer" > 

				{{response}}
				<ul class="cardList">
					<li class="pdf"><a href="#">Milk</a></li>
					<li class="text"><a href="#">Eggs</a></li>
					<li class="htm"><a href="#">Cheese</a></li>
					<li class="doc"><a href="#">Vegetables</a></li>
					<li class="text"><a href="#">Fruit</a></li>
				</ul>
			</div>						
		</div>
	</body>
</html>
