<html>
    <head>
        <title> Servi-Tebca M&oacute;vil </title>
        <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
        <link rel="stylesheet" type="text/css" href="/assets/bootstrap/css/bootstrap.css">
    </head>
    <body>

        <div class="content" >
            <div class="banner" > 
                <img src="/assets/img/logoTebca.jpg" alt="Logo"/>
            </div>
            <div class="formContainer" > 
                <form method="post" action="/login">
                    <fieldset>
                        <legend>Ingrese sus crendenciales de acceso</legend>

                        <div class="control-group">
                            <label class="control-label" for="input01">ID del cliente</label>
                            <div class="controls">
                                <input type="text" class="input-xlarge" id="input01" name="username">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="input01">Contrase&ntilde;a</label>
                            <div class="controls">
                                <input type="password" class="input-xlarge" id="input01" name="password">
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>	
        </div>
    </body>
</html>
